/* Tags */

a {
	color: #3B1D00;
	padding: 1.5em;
}

a:hover, a:visited, a:focus {
	color: #3B1D00;
	text-decoration: none;
}

body {
	background-image: url("../img/bgPattern.png");
	color: #3B1D00;
	font-family: 'Lobster', sans-serif;
	min-width: 340px;
}

/* Old Brown #291400 */
h1 a {
	color: #3B1D00;
	font-size: 6vw;
}

h1 {
	position: relative;
}

h1:hover {
	-webkit-animation: bounce 2s;
	-moz-animation: bounce 2s;
	-ms-animatioon: bounce 2s;
    animation: bounce 2s;
}

h3 {
	font-size: 4vw;
	margin-left: 3%;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2vw;
	font-weight: 700;
	margin-left: 3%;
	position: relative;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-left: 15%;
}

img {
	height: auto;
	width: 30vw;
	max-width: 80%;
	margin: 2%;
}

p {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	max-width: 60vw;
	min-width: 150px;
	max-height: 60vh;
	margin-left: 3%;
	margin-top: 4%;
}

video {
	height: auto;
	margin-top: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
	width: auto;
}

/* Classes */

.about {
	background-color: #FF8D8D;
	height: 100vh;
}

.resume {
	background-color: #7FB27F;
	height: 100vh;
}

.contact {
	background-color: #FFFF8D;
	height: 100vh;
}

.about h1 {
	margin-top: 20vh;
}

.resume h1 {
	margin-top: 40vh;
}

.contact h1 {
	margin-top: 60vh;
}

.apage {
	background-color: #FF8D8D;
	min-height: 100vh;
}

.rpage {
	background-color: #7FB27F;
	min-height: 100vh;
}

.cpage {
	background-color: #FFFF8D;
	min-height: 100vh;
}

.centre {
	position: inherit;
}

.goUp {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	position: fixed;
	left: 1%;
	top: 90%;
}

.goUp a {
	font-size: 2vw;
	margin-right: 5%;
}

/* Animations */

@-webkit-keyframes bounce {
    0% {left: 0px; top: 0px;}
	25% {left: 0px; top: 30px;}
	50% {left: 0px; top: 0px;}
	75% {left: 0px; top: 15px;}
	100% {left: 0px; top: 0px;}
}

@keyframes bounce {
    0% {left: 0px; top: 0px;}
	25% {left: 0px; top: 30px;}
	50% {left: 0px; top: 0px;}
	75% {left: 0px; top: 15px;}
	100% {left: 0px; top: 0px;}
}

/* Screen Adjustments */

@media screen and (max-width:991px) {

	h3 {
		font-size: 2.8em;
		margin-left: 5%;
	}

	h4 {
		font-size: 1.6em;
		margin-left: 18%;
	}

	img {
		height: auto;
		width: 28vw;
		margin-left: 30%;
	}

	p {
		font-size: 2.8vmin;
		width: 80vw;
		margin-left: 5%;
	}

	.goUp {
		margin-left: 3%;
	}

	.goUp a {
		font-size: 1.7em;
		margin-bottom: 10%;
	}
}

@media screen and (max-width:450px) {
	h3 {
		font-size: 2.3em;
		float: left;
		margin-left: 5%;
	}

	img {
		display: block;
		height: auto;
		width: 40vw;
		margin-left: 30%;
	}

	p {
		font-size: .8em;
		font-weight: 400;
		float: left;
		margin-left: 5%;
		margin-top: 4%;
		text-indent: 10%;
		width: 80vw;
	}

	.about {
		background-color: #FF8D8D;
		float: left;
		height: 33.3vh;
	}

	.resume {
		background-color: #7FB27F;
		float: left;
		height: 33.3vh;
	}

	.contact {
		background-color: #FFFF8D;
		float: left;
		height: 33.4vh;
	}

	.about h1 {
		margin-top: 11vh;
		margin-left: 30vw;
	}

	.resume h1 {
		margin-top: 11vh;
		margin-left: 30vw;
	}

	.contact h1 {
		margin-top: 11vh;
		margin-left: 30vW;
	}

	.goUp {
		margin-left: 2%;
	}

	.goUp a {
		font-size: 1.5em;
		margin-right: 8%;
	}

	.email {
		font-size: .9em; 
	}

	
}/*end of media query max-width: 450px*/