
/*======================== Custom Classes =======================*/

.black-row {
	background-color: #111;
	color: #fff;
	padding: 6% 5%;
}

.blue-row {
	background-color: #0078A7;
	color: #fff;
	padding: 6% 5%;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.white-row {
	background-color: #fff;
	color: #222;
	padding: 6% 5%;
}

.push-down-min {
	padding-top: 20px;
}

.push-down-max {
	padding-top: 40px;
}

.push-up {
	padding-bottom: 20px;
}

.push-up-max {
	padding-bottom: 30px;
}

.push-right {
	text-align: right;
}

.text-right {
	text-align: center;
}

.box-space {
	padding-bottom: 5px;
}

.img-center {
	margin-left: auto;
	margin-right: auto;
}

.portfolio {
	width: 470px;
	height: 260px;
	margin-bottom: 18px;
	margin-left: 15px;
}

.portfolio:hover {
	border: solid 4px #0078A7;
}

.center-text {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}

.center-break {
	font-size: 2em;
	text-align: center;
	margin: 5px;
}

.h3-text {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 3.2em;
}

.h4-text {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.4em;
}

.p-text  {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
}

.p-text-small {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 1.4em;
}

.ul-text {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	list-style: none;
	padding-left: 10px;
}

.bold-text {
	font-weight: bold;
}

.btn-default {
	color: #0078A7;
	background: #fff;
	margin-top: 10px;
	text-decoration: none;
}

.btn-default:hover,
.btn-default:active,
.btn-default:visited {
	background: #fff;
	color: #0078A7;
	font-weight: bold;
	text-decoration: none;
}

.breaks {
	background-image: url('../img/breakbg.png');
	color: #444;
	letter-spacing: 1px;
	height: 40px;
}

.arvo {
	font-family: 'Arvo', Georgia, Times, serif;
    font-size: 2.3em;
}

.pt-sans {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.about-pic {
	max-height: 319px;
	max-width: 245px;
}

.formError {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: red;
	text-align: center;
	visibility: hidden;
}

.circle-qoute {
	background-color: #00A5E7;
	border-radius: 60%;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
    text-align: center;
    width: 200px;
}
/*======================= End Custom Classes =======================*/

/*======================== Media Breaks ============================*/
@media(max-width:1100px) {
	.portfolio {
		width: 340px;
		height: 225px;
	}
}

@media(max-width:842px) {
    .arvo {
    	font-size: 2em;
    }
    .pt-sans {
    	font-size: 1.8em;
    }
    .portfolio {
		width: 325px;
		height: 225px;
	}
}
/*767 is where layout changes*/
@media(max-width:767px) {
    .h3-text {
		font-size: 3em;
	}

	.ul-text {
		font-size: 1.2em;
	}

	.black-row,
	.white-row {
		padding-left: 0px;
		padding-right: 0px;
	}

	.push-right {
	text-align: left;
}

	.float-left {
		float: left;
	}

	.breaks {
		margin: 15px 0 25px 0;
	}
}

@media(max-width:460px){
	.logo {
    	height: 120px;
    	width: 120px;
    }

	.box-space,
	.push-up-max {
		padding-bottom: 18px;
	}

	.h3-text {
		font-size: 2.1em;
	}

	.h4-text {
		font-size: 1.3em;
	}

	.ul-text {
		font-size: 1.1em;
	}

	.p-text,
	.p-text-small {
		font-size: 1.2em;
	}
	.portfolio {
		width: 218px;
		height: 195px;
	}
}

@media(max-width:387px) {
	.arvo {
		font-size: 1.8em;
	}

	.pt-sans {
		font-size: 1.6em;
	}
}
/*=====================End Media Breaks ===========================*/